<?xml version="1.0"?>
<!--
In this version the force torque sensor is modelled measuring the wrench on the last revolute joint in the robot and then reporting the measurement
in the sensor location. To have better accuracy we will split the the foot in three links:

foot_flange + sensor + sole

and we will add a revolute joint between foot_flange and sensor and a fixed joint (where we will measure the wrench) between sensor and sole.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:if value="${COGIMON_LEFT_ARM}" >
       <gazebo reference="LWrj2">
              <sensor type="force_torque" name="l_arm_ft">
                     <force_torque>
                       <frame>sensor</frame>
                       <measure_direction>child_to_parent</measure_direction>     
                     </force_torque>
		       <always_on>true</always_on>
		       <visualize>true</visualize>
		       <update_rate>1000</update_rate>
		       <pose>0 0 -0.02 0 0 0</pose> <!-- check! -->
	       </sensor>
       </gazebo>
</xacro:if>

<xacro:if value="${COGIMON_RIGHT_ARM}" >
       <gazebo reference="RWrj2">
	       <sensor type="force_torque" name="r_arm_ft">
                     <force_torque>
                       <frame>sensor</frame>
                       <measure_direction>child_to_parent</measure_direction>
                     </force_torque>
		       <always_on>true</always_on>
		       <visualize>true</visualize>
		       <update_rate>1000</update_rate>
		       <pose>0 0 -0.02 0 0 0</pose> <!-- check! -->
              </sensor>
       </gazebo>
</xacro:if>

<xacro:if value="${COGIMON_LEFT_LEG}" >
       <gazebo reference="LAnkleRoll">
              <sensor type="force_torque" name="l_leg_ft">
                     <force_torque>
                       <frame>sensor</frame>
                       <measure_direction>child_to_parent</measure_direction>     
                     </force_torque>
		       <always_on>true</always_on>
		       <visualize>true</visualize>
		       <update_rate>1000</update_rate>
		       <pose>0 0 -0.035 0 0 0</pose> <!-- check! -->
	       </sensor>
       </gazebo>
</xacro:if>

<xacro:if value="${COGIMON_RIGHT_LEG}" >
       <gazebo reference="RAnkleRoll">
	       <sensor type="force_torque" name="r_leg_ft">
                     <force_torque>
                       <frame>sensor</frame>
                       <measure_direction>child_to_parent</measure_direction>
                     </force_torque>
		       <always_on>true</always_on>
		       <visualize>true</visualize>
		       <update_rate>1000</update_rate>
		       <pose>0 0 -0.035 0 0 0</pose> <!-- check! -->
              </sensor>
       </gazebo>
</xacro:if>

</robot>
