<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:if value="${COGIMON_RIGHT_LEG}"> 
<rtt-gazebo reference="right_leg">
       <controller type="JointPositionCtrl">
      <gains D="5.0" I="2." P="3500." reference="RHipSag"/>
      <gains D="5.0" I="0." P="2500." reference="RHipLat"/>
      <gains D="5.0" I="0." P="2000." reference="RHipYaw"/>
      <gains D="2.5" I="0." P="1500." reference="RKneePitch"/>
      <gains D="1.0" I="0." P="1000." reference="RAnklePitch"/>
      <gains D="1.0" I="0." P="1000." reference="RAnkleRoll"/>
       </controller>
       <controller type="JointImpedanceCtrl">
              <gains reference="RHipSag" stiffness="300." damping="30."/>
              <gains reference="RHipLat" stiffness="300." damping="30."/>
              <gains reference="RHipYaw" stiffness="300." damping="30."/>
              <gains reference="RKneePitch" stiffness="300." damping="30."/>
              <gains reference="RAnklePitch" stiffness="300." damping="30."/>
              <gains reference="RAnkleRoll" stiffness="300." damping="30."/> 
       </controller>
       <controller type="JointTorqueCtrl"/>
</rtt-gazebo>
</xacro:if>

<xacro:if value="${COGIMON_LEFT_LEG}"> 
<rtt-gazebo reference="left_leg">
       <controller type="JointPositionCtrl">
      <gains D="5.0" I="2." P="3500." reference="LHipSag"/>
      <gains D="5.0" I="0." P="2500." reference="LHipLat"/>
      <gains D="5.0" I="0." P="2000." reference="LHipYaw"/>
      <gains D="2.5" I="0." P="1500." reference="LKneePitch"/>
      <gains D="1.0" I="0." P="1000." reference="LAnklePitch"/>
      <gains D="1.0" I="0." P="1000." reference="LAnkleRoll"/>
       </controller>
       <controller type="JointImpedanceCtrl">
              <gains reference="LHipSag" stiffness="300." damping="30."/>
              <gains reference="LHipLat" stiffness="300." damping="30."/>
              <gains reference="LHipYaw" stiffness="300." damping="30."/>
              <gains reference="LKneePitch" stiffness="300." damping="30."/>
              <gains reference="LAnklePitch" stiffness="300." damping="30."/>
              <gains reference="LAnkleRoll" stiffness="300." damping="30."/> 
       </controller>
       <controller type="JointTorqueCtrl"/>
</rtt-gazebo>
</xacro:if>

<xacro:if value="${COGIMON_TORSO}"> 
<rtt-gazebo reference="torso">
       <controller type="JointPositionCtrl">
              <gains D="12.0" I="2." P="7500." reference="WaistLat"/>
	      <xacro:unless value="${COGIMON_PENNACCHIO}">
			<gains D="10.0" I="2." P="5000." reference="WaistYaw"/>
	      </xacro:unless>
       </controller>
       <controller type="JointImpedanceCtrl">
              <gains reference="WaistLat" stiffness="300." damping="30."/>
              <xacro:unless value="${COGIMON_PENNACCHIO}">
			<gains reference="WaistYaw" stiffness="300." damping="30."/>
	      </xacro:unless>
       </controller>
       <controller type="JointTorqueCtrl"/>
</rtt-gazebo>
</xacro:if>

<xacro:if value="${COGIMON_LEFT_ARM}">
<rtt-gazebo reference="left_arm">
       <controller type="JointPositionCtrl">
              <gains D="10.0" I="2." P="7500." reference="LShSag"/>
	      <gains D="10.0" I="0." P="4500." reference="LShLat"/>
	      <gains D="10." I="0." P="4000." reference="LShYaw"/>
	      <gains D="5.0" I="0." P="3500." reference="LElbj"/>
	      <gains D="2.0" I="0." P="2000." reference="LForearmPlate"/>
	      <gains D="2.0" I="0." P="2000." reference="LWrj1"/>
              <gains D="2.0" I="0." P="2000." reference="LWrj2"/>
       </controller>
       <controller type="JointImpedanceCtrl">
              <gains reference="LShSag" stiffness="300." damping="30."/>
              <gains reference="LShLat" stiffness="300." damping="30."/>
              <gains reference="LShYaw" stiffness="300." damping="30."/>
              <gains reference="LElbj" stiffness="300." damping="30."/>
              <gains reference="LForearmPlate" stiffness="300." damping="30."/>
              <gains reference="LWrj1" stiffness="300." damping="30."/>
              <gains reference="LWrj2" stiffness="300." damping="30."/> 
       </controller>
       <controller type="JointTorqueCtrl"/>
</rtt-gazebo>
</xacro:if>

<xacro:if value="${COGIMON_RIGHT_ARM}">
<rtt-gazebo reference="right_arm">
       <controller type="JointPositionCtrl">
              <gains D="10.0" I="2." P="7500." reference="RShSag"/>
	      <gains D="10.0" I="0." P="4500." reference="RShLat"/>
	      <gains D="10." I="0." P="4000." reference="RShYaw"/>
	      <gains D="5.0" I="0." P="3500." reference="RElbj"/>
	      <gains D="2.0" I="0." P="2000." reference="RForearmPlate"/>
	      <gains D="2.0" I="0." P="2000." reference="RWrj1"/>
              <gains D="2.0" I="0." P="2000." reference="RWrj2"/>
       </controller>
       <controller type="JointImpedanceCtrl">
              <gains reference="RShSag" stiffness="300." damping="30."/>
              <gains reference="RShLat" stiffness="300." damping="30."/>
              <gains reference="RShYaw" stiffness="300." damping="30."/>
              <gains reference="RElbj" stiffness="300." damping="30."/>
              <gains reference="RForearmPlate" stiffness="300." damping="30."/>
              <gains reference="RWrj1" stiffness="300." damping="30."/>
              <gains reference="RWrj2" stiffness="300." damping="30."/> 
       </controller>
       <controller type="JointTorqueCtrl"/>
</rtt-gazebo>
</xacro:if>

<xacro:unless value="${COGIMON_LASER_FIXED}">
  <xacro:if value="${COGIMON_HEAD}">
<rtt-gazebo reference="neck">
    <controller type="JointPositionCtrl">
      <gains D="5.0" I="0." P="1000." reference="head_roll"/>
    </controller>
</rtt-gazebo>
  </xacro:if>
</xacro:unless>

</robot>
