<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="COGIMON">

<xacro:property name="model_name" value="IIT COGIMON" />
<xacro:property name="model_version" value="0.1" />

<!-- ************SELECT PARTS*************-->
<!-- *************************************-->
<xacro:property name="COGIMON_HEAD" value="true" />
<xacro:property name="COGIMON_TORSO" value="true" />
<xacro:property name="COGIMON_LEFT_ARM" value="true" />
<xacro:property name="COGIMON_RIGHT_ARM" value="true" />
<xacro:property name="COGIMON_LEFT_LEG" value="true" />
<xacro:property name="COGIMON_RIGHT_LEG" value="true" />

<!-- ************NEW FEET*************-->
<!-- *************************************-->
<xacro:property name="COGIMON_FEET_2" value="true" />

<!-- ************COGIMON_LASER_FIXED*******-->
<!--
     This will set the laser joint to 'fixed'. 
     Should be used to true for the urdf and srdf which are
     used in the hardware and visualization, not for IK and ID.
-->
<!-- *************************************-->
<xacro:property name="COGIMON_LASER_FIXED" value="false" />

<!-- ************COGIMON_PENNACCHIO*******-->
<!--
     This will add a fake torso link after the first
     torso joint (roll). If this is true, arms has
     to be false and torso has to be true.
-->
<!-- *************************************-->
<xacro:property name="COGIMON_PENNACCHIO" value="false" />

<!-- ************FLOATING BASE*************-->
<!-- ******************************************-->
<xacro:property name="COGIMON_FLOATING_BASE" value="true" />

<!-- ************FIXED BASE*************-->
<!-- ******************************************-->
<xacro:property name="COGIMON_FIXED_BASE" value="false" />

<!-- ************XBOT-GAZEBO FRAMEWORK*************-->
<!-- *************************************-->
<xacro:property name="COGIMON_XBOT_GAZEBO" value="true" />

<!-- ************OROCOS-GAZEBO FRAMEWORK*************-->
<!-- *************************************-->
<xacro:property name="COGIMON_OROCOS_GAZEBO" value="false" />
</robot>
