<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="SoftHand">


<!--xacro:property name="PI" value="3.14159265359" />
<xacro:property name="PI_2" value="1.57079632679" /-->

<xacro:if value="${COGIMON_RIGHT_ARM}">
<!-- LINKS -->
<link name="RSoftHand"/>
<link name="TCP_R"/>

<link name="RSoftHandLink">
    <inertial>
      <origin xyz="${2.0955992*mmTom} ${4.3009755*mmTom} ${-6.0792229e+01*mmTom}" rpy="0 0 0"/>
      <mass value="1.4"/>
      <inertia ixx="${4.6340021e+03*mm2Tom2}"  ixy="${-5.6301252e+01*mm2Tom2}"  ixz="${2.1001241e+02*mm2Tom2}" iyy="${5.2222303e+03*mm2Tom2}" iyz="${2.0916976e+02*mm2Tom2}" izz="${1.3961628e+03*mm2Tom2}" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry name="RSoftHandLink_visual">
        <mesh filename="package://cogimon_urdf/meshes/SoftHandOpen2.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="grey"/>
   </visual>
   <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry name="RSoftHandLink_collision">
        <mesh filename="package://cogimon_urdf/meshes/simple/SoftHandOpen2.STL" scale="0.001 0.001 0.001" />
      </geometry>
   </collision>
</link>

<joint name="r_handj" type="fixed">
        <parent link="r_wrist"/>
        <child link="RSoftHandLink"/>
        <origin xyz="0 0 ${-39.5*mmTom}" rpy="0 0 0"/>
</joint>
  
<joint name="r_handj2" type="fixed">
        <parent link="RSoftHandLink"/>
        <child link="RSoftHand"/>
        <origin xyz="0 ${41.0*mmTom} ${-100.5*mmTom}" rpy="0 0 0"/>
</joint>

<joint name="TCP_Rjoint" type="fixed">
	<parent link="RSoftHand"/>
	<child link="TCP_R"/>
	<origin xyz="0.0 0.0 0.0" rpy="-${PI_2} 0 0"/>
</joint>
</xacro:if>

<xacro:if value="${COGIMON_LEFT_ARM}">
<link name="LSoftHand"/>
<link name="TCP_L"/>

<link name="LSoftHandLink">
    <inertial>
      <origin xyz="${2.0955992*mmTom} ${-4.3009755*mmTom} ${-6.0792229e+01*mmTom}" rpy="0 0 0"/>
      <mass value="1.4"/>
      <inertia ixx="${4.6340021e+03*mm2Tom2}"  ixy="${5.6301252e+01*mm2Tom2}"  ixz="${2.1001241e+02*mm2Tom2}" iyy="${5.2222303e+03*mm2Tom2}" iyz="${-2.0916976e+02*mm2Tom2}" izz="${1.3961628e+03*mm2Tom2}" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry name="LSoftHandLink_visual">
        <mesh filename="package://cogimon_urdf/meshes/SoftHandOpen2.STL" scale="0.001 -0.001 0.001" />
      </geometry>
      <material name="grey"/>
   </visual>
   <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry name="LSoftHandLink_collision">
        <mesh filename="package://cogimon_urdf/meshes/simple/SoftHandOpen2.STL" scale="0.001 -0.001 0.001" />
      </geometry>
   </collision>
</link>
<!-- JOINTS -->
  


  <joint name="l_handj" type="fixed">
        <parent link="l_wrist"/>
        <child link="LSoftHandLink"/>
        <origin xyz="0 0 ${-39.5*mmTom}" rpy="0 0 0"/>
  </joint>

  <joint name="l_handj2" type="fixed">
        <parent link="LSoftHandLink"/>
        <child link="LSoftHand"/>
        <origin xyz="0 ${-41.0*mmTom} ${-100.5*mmTom}" rpy="0 0 0"/>
  </joint>


  <joint name="TCP_Ljoint" type="fixed">
        <parent link="LSoftHand"/>
        <child link="TCP_L"/>
        <origin xyz="0.0 0.0 0.0" rpy="${PI_2} ${PI} 0"/>
  </joint>
</xacro:if>


</robot>
