<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cogimon">
  <!--
  ROS urdf definition of the COGIMON humanoid robot by Istituto Italiano di Tecnologia
  
  Author: Enrico Mingo
  
  This file groups files to use COGIMON in GAZEBO
  
  -->
  <xacro:include filename="$(find cogimon_urdf)/urdf/cogimon.urdf.xacro" />

  <xacro:include filename="$(find cogimon_urdf)/urdf/gazebo/cogimon.gazebo.xacro" />
 
  <xacro:include filename="$(find cogimon_urdf)/urdf/gazebo/cogimon_materials.gazebo.xacro" />
  
  <xacro:include filename="$(find cogimon_urdf)/urdf/gazebo/force_torque.gazebo.xacro" />
  
  <xacro:include filename="$(find cogimon_urdf)/urdf/gazebo/imu.gazebo.xacro" />


<xacro:if value="${COGIMON_XBOT_GAZEBO}" >
  <xacro:include filename="$(find cogimon_urdf)/urdf/gazebo/xbot_control.gazebo.xacro" />
</xacro:if>



<origin xyz="0.0 0.0 0.97" rpy="0 0 0" />
</robot>

