<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!--xacro:property name="PI" value="3.14159265359" />
<xacro:property name="mmTom" value="0.001" />
<xacro:property name="mm2Tom2" value="${0.001*0.001}" /-->


<xacro:include filename="$(find cogimon_urdf)/urdf/parts/arms_macro.urdf.xacro" />



<xacro:if value="${COGIMON_RIGHT_ARM}">
<xacro:right_arm joint1_name="RShSag" joint2_name="RShLat" joint3_name="RShYaw" joint4_name="RElbj" joint5_name="RForearmPlate" joint6_name="RWrj1" joint7_name="RWrj2" />
</xacro:if>
<xacro:if value="${COGIMON_LEFT_ARM}">
<xacro:left_arm joint1_name="LShSag" joint2_name="LShLat" joint3_name="LShYaw" joint4_name="LElbj" joint5_name="LForearmPlate" joint6_name="LWrj1" joint7_name="LWrj2" />
</xacro:if>



</robot>
