<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:if value="${COGIMON_RIGHT_ARM}">
<link name="r_arm_ft"/>

<joint name="r_arm_ft_joint" type="fixed">
       <origin xyz="0 0 -0.02" rpy="0 0 0" />
	<parent link="RWrMot3"/>
	<child link="r_arm_ft"/>
</joint>
</xacro:if>

<xacro:if value="${COGIMON_LEFT_ARM}">
<link name="l_arm_ft"/>

<joint name="l_arm_ft_joint" type="fixed">
       <origin xyz="0 0 -0.02" rpy="0 0 0" />
	<parent link="LWrMot3"/>
	<child link="l_arm_ft"/>
</joint>
</xacro:if>



</robot>
